---
# ClusterRole with necessary permissions
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: configmap-modifier
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["list"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch"]

---
# ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: backupdiscover-pv-viewer-binding
subjects:
- kind: User
  name: backupdiscover  # This must match the CN from your CSR
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: get-local-storage-details
  apiGroup: rbac.authorization.k8s.io