name: Create and publish a Docker image

on:
  push:
    branches: 
    - "*"
  pull_request:
    branches:
      - "main" 

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get latest tag
        id: get-latest-tag
        run: |
          # Get the most recent tag, ignoring any pre-release tags
          LATEST_TAG=$(git describe --tags --abbrev=0 --match 'v*.*.*' || echo 'v0.0.0')
         
          echo "tag=$LATEST_TAG" >> $GITHUB_OUTPUT

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            # A simple tag using the build number
            type=raw,value=${{ github.run_number }}

            # A conditional "latest" tag for the main branch only
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}

            # Tag the image with the latest Git tag and the build counter
            type=raw,value=${{ steps.get-latest-tag.outputs.tag }}-${{ github.run_number }},enable=${{ github.ref == 'refs/heads/main' }}
            # Tags for non-main branches (branch name + build number)
            type=ref,event=branch,enable=${{ github.ref != 'refs/heads/main' }}
            type=raw,value=branch-${{ github.ref_name }}-${{ steps.get-latest-tag.outputs.tag }}-${{ github.run_number }},enable=${{ github.ref != 'refs/heads/main' }}
  
      - name: Build Docker image
        uses: docker/build-push-action@v4.1.1
        with:
          context: .
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: list docker image layers
        run: docker image list 

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.run_number }}'
  

      - name: Push Docker image
        uses: docker/build-push-action@v4.1.1
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
